.navbar {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  align-items: center;
  position: sticky;
  display: flex;
  z-index: 999;
  height: 80px;
  top: 0;
  background-color: rgb(255, 255, 255);
  /* justify-content: center; */
}

.navbar-logo-home{
  border: none;
  background-color: rgb(255, 255, 255);
}

.navbar-logo {
  margin-left: 0.2rem;
  height: 4em;
}

.navbar-button {
    position: absolute;
    background: #FFFF;
    border: 1px solid #388E8E;
    box-sizing: border-box;
    border-radius: 45px;
    width: 140px;
    height: 44px;
    left: calc(95% - 140px);
    top: 18px;
    font-size: 24px;
    line-height: 29px;
}

.servicios {
    position: absolute;
    width: 111px;
    height: 35px;
    left: calc(60% - (111px / 2));
    top: 23px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.login {
    position: absolute;
    width: 107px;
    height: 35px;
    left: calc(75% - (107px / 2));
    top: 23px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border: 0;
    padding: 0;
}



@media screen and (max-width: 1079px) {
}
