.navbar {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  align-items: center;
  position: sticky;
  display: flex;
  z-index: 999;
  height: 80px;
  top: 0;
  /* justify-content: center; */
}


.navbar-logo {
  margin-left: 0.2rem;
  height: 2em;
}

.navbar-button {
    position: absolute;
    background: #FFFF;
    border: 1px solid #388E8E;
    box-sizing: border-box;
    border-radius: 45px;
    width: 140px;
    height: 44px;
    left: 990px;
    top: 18px;
    font-size: 24px;
    line-height: 29px;
}


.servicios {
    position: absolute;
    width: 111px;
    height: 35px;
    left: 379px;
    top: 23px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.login {
    position: absolute;
    width: 107px;
    height: 35px;
    left: 776px;
    top: 23px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;
}



@media screen and (max-width: 1079px) {
}
